%h1 Playlists
- @playlists.each do |playlist|
  %p
    %b Dzień:
    =playlist.day
  %p
    %b Autor:
    =playlist.creator
  %p
    %b Nastrój:
    =playlist.mood
  -options = options_for_select( playlist.songs.map {|song| [song.artist + ' - ' + song.title, song.id]} )
  =select_tag(:song_id, options)
  %p
    =link_to "wiecej", playlist
  %hr
%hr
%hr
%p= link_to "Dodaj playlistę", new_playlist_path
